@font-face {
	font-family: "Ferry";
	src: url(../assets/fonts/Ferry.otf) format("opentype");
}

:root {
	--color-green: #029491;
	--color-black: #000000;
	--color-white: #FFFFFF;

	--color-yellow: #FFB64F;
	--color-aqua: #7CE3E1;
	--color-blue: #5970FF;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
	background-color: var(--color-white);
}

.title {
	font-family: Ferry;
}