.header {
	height: 100px;
}

.header-container {
	display: grid;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
}

.logo {
	justify-self: flex-start;
}

.navbar {
	justify-self: center;
}

.header-user-area {
	justify-self: flex-end;
}